.todo_app {
  width: 600px;
  background: #f3edff;
  padding: 30px;
  border-radius: 10px;
}
.todo_app h1 {
  color: #213547;
  font-size: 50px;
}
.input_box {
  margin-top: 30px;
}
.input_box form > input {
  background: #ffffff;
  border: none;
  height: 38px;
  width: 70%;
  margin-right: 5px;
  border-radius: 4px;
  outline: none;
  font-size: 20px;
  color: #000;
  padding: 5px 10px;
}
.input_box form > button {
  background: #213547;
  color: #fff;
  outline: none;
  font-size: 20px;
  padding: 8px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}
ul.text_list {
  margin-top: 35px;
}
ul.text_list li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  padding: 10px;
  border-bottom: 1px solid #d0c7e4;
}

ul.text_list li span {
  font-size: 20px;
  color: #213547;
}
.todo_text {
  display: flex;
  gap: 15px;
  align-items: center;
  justify-content: flex-start;
}
.box-btn button {
  background: #213547;
  border: none;
  margin: 0 5px;
  color: #fff;
  padding: 5px 10px;
  border-radius: 3px;
}
button.allDeleteBtn {
  margin-top: 35px;
  width: 100%;
  border: none;
  padding: 10px 0;
  border-radius: 8px;
  background: #213547;
  color: #fff;
  font-size: 20px;
  text-transform: uppercase;
  cursor: pointer;
}
